---
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "EC2 instance timeline",
	description = "A historical overview of AWS EC2 instance releases",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
		<meta name="description" content={description} />
		<meta name="keywords" content="AWS, Amazon Web Services, Amazon Elastic Cloud Compute, EC2, Instance Types, Timeline" />
		<title>{title}</title>
		<link rel="canonical" href={canonicalURL} />
		<link rel="icon" href="/svg/favicon.svg">
		<link rel="mask-icon" href="/svg/favicon.svg">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:site_name" content="EC2 instance timeline" />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
	</head>
	<body class="font-sans">
		<slot />
	</body>
</html>